<div class="container">
  <form #myForm=ngForm>
    <div class="row"  *ngIf="showMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
            <strong>Add User Success!</strong>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input type="email" class="form-control"  name="name" aria-describedby="emailHelp" [(ngModel)]="userObj.name">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mobile No.</label>
      <input type="mobile" class="form-control" name="mobileno" [(ngModel)]="userObj.mobileno">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  aria-describedby="emailHelp"  name="email" [(ngModel)]="userObj.email">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="userObj.password">
    </div>
    <button type="button" class="btn btn-primary" (click)="submitHandler(myForm.value)" style="margin:5px;" *ngIf="!isEdit">Submit </button>
  
    <button type="button" class="btn btn-secondary" *ngIf="isEdit" (click)="updateUser()">  Update </button>
  </form>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUser">
      <td>{{user.name}}</td>
      <td>{{user.mobileno}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td><button class="btn btn-warning" (click)="editUser(user)"> EDIT</button></td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> DELETE</button></td>
      
    </tr>
  </tbody>
 
</table>

</div>